<!--partial html file to be appended to main content view -->

<h1 class="title-h1">Create Playlist</h1>

<div class="create-playlist-container">

    <div class="create-playlist-card">
        <form enctype="multipart/form-data" action="/create/playlist" method="post">
        </form>
    </div>

        <h3>Your Songs</h3>
        <songs-table>
        </songs-table>
        <div class="bottom-bar">
            <label for="create-playlist-button" class="select-files-button">Create Playlist</label>
            <input class="create-playlist-button" type="submit">
        </div>
</div>