<!--partial html file to be appended to main content view -->


<h1 class="title-h1">Home</h1>

<p>
    This is a little project i made up in about a days time. i was really bored so i decided to submit this as my final. As you can see its a full blown media player. I built the server
    that this runs on from the ground up. From the auth to the code that handles playing and pausing songs <a onclick="songsView()">😃</a>. You can upload songs or even see other songs that 
    people have uploaded and maybe even add them to your music library

</p>

<ul>
    <h1>Things that it can do</h1>
    <li>Full Support for audio playback</li>
    <li>Set Volume</li>
    <li>Skip through songs</li>
    <li>Upload your own songs</li>
    <li>Create Playlists</li>
    <li>Much more</li>
</ul>
<mini-player>

</mini-player>